*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;

  background: rgb(250 250 238);

  font-size: 6vmin;
}

.game-board {
  position: relative;

  display: grid;

  padding: var(--cell-gap);

  border-radius: 1vmin;
  background-color: #E6E3DA;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  gap: var(--cell-gap);
}

.cell {
  border-radius: 1vmin;
  background-color: #BDAD9F;
}

.tile {
  position: absolute;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--cell-size);
  height: var(--cell-size);

  transition: 100ms ease-in-out;
  animation: show 200ms ease-in-out;

  color: hsl(200deg 25% var(--text-lightness));
  border-radius: 1vmin;
  background-color: hsl(30deg 37% var(--background-lightness));

  font-weight: bold;
}

@keyframes show {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
}
